In [1]:
import pandas as pd

data = pd.DataFrame({
    'Country': ['USA', 'Germany', 'Japan', 'Brazil'],
    'Population_Millions': [331, 83, 126, 212]
})
data

   Country  Population_Millions
0      USA                  331
1  Germany                   83
2    Japan                  126
3   Brazil                  212

In [3]:
# Divide population by 10
data['Pop_Tenth'] = data['Population_Millions'].apply(lambda x: x / 10)
data

   Country  Population_Millions  Pop_Tenth
0      USA                  331       33.1
1  Germany                   83        8.3
2    Japan                  126       12.6
3   Brazil                  212       21.2

In [5]:
data['Region'] = data['Country'].apply(
    lambda x: 'North America' if x == 'USA'
    else 'Europe' if x == 'Germany'
    else 'Asia' if x == 'Japan'
    else 'South America'
)
data

   Country  Population_Millions  Pop_Tenth         Region
0      USA                  331       33.1  North America
1  Germany                   83        8.3         Europe
2    Japan                  126       12.6           Asia
3   Brazil                  212       21.2  South America